@model List<Contacts.Models.Contact>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h1>My Contacts</h1>
    @if (Model.Any())
    {
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.Name</td>
                    <td>@contact.PhoneNumber</td>
                    <td>
                        <form action="/Home/DeleteContact" method="POST">
                            <input type="hidden" name="ContactID" id="ContactID" value="@contact.ContactID"/>
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>You have no Contacts, how sad!</p>
    }
</div>
</body>
</html>
